.nav-about-color li a {
    color: wheat;
    font-size: 1.2rem;
}

.about-us {
    margin-left: 15%;
    margin-right: 15%;
    color: rgb(56, 2, 7);
    text-align: justify;
}

.item {
    font-weight: 800;
    font-size: 20px;
}