.logIn-form {
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5px;
    font-size: medium;
    color: rgb(56, 2, 7);
}

.btn-outline-login {
    color: white;
    background: rgb(56, 2, 7);
}

.btn-outline-login:hover {
    color: rgb(56, 2, 7);
    ;
    background: rgba(179, 35, 49, 0);
}