/* all font links */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Poppins&display=swap');

/* default */
* {
    font-family: 'Poppins', sans-serif;
}

.top-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
}

/* nav bar design */
.nav-color {
    background-color: rgb(56, 2, 7);
}

.nav-item .nav-link {
    color: wheat;
}

/* slider custom design */
.slider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-item img {
    width: 400px;
    height: 400px;
}

/* post and news section */
.recent-section {
    text-align: center;
    color: rgb(56, 2, 7);
    border-bottom: 2px solid rgb(56, 2, 7);
    margin-bottom: 10px;
}