/* all font links */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Poppins&display=swap');

/* default */
* {
    font-family: 'Poppins', sans-serif;
}

/* Top bar design */
.top-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 70px;
    height: 70px;
}

.top-logo h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 8px #FF0000;
}

/* nav bar design */
.nav-color {
    background-color: rgb(56, 2, 7);
}

.nav-item .nav-link {
    color: wheat;
    font-size: 1.2rem;
}

/* slider custom design */
.slider {
    margin-top: 1px;
    margin-bottom: 10px;
}

.carousel-item img {
    width: 750px;
    height: 400px;
    margin: auto;
}

.carousel-bg {
    /* background: linear-gradient(to top left, #ffcc99 0%, #800000 100%); */
    background-color: rgb(56, 2, 7);
}

/* post and news section */
.recent-section {
    text-align: center;
    color: rgb(56, 2, 7);
    border-bottom: 2px solid rgb(56, 2, 7);
    margin-bottom: 10px;
}

/* card images style */
.news-card {
    display: block;
    width: 300px;
    height: 250px;
}

/* Footer section */
.footer-main {
    width: 100%;
    height: 150px;
    color: wheat;
    text-align: center;
    background-color: rgb(56, 2, 7);
}